<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><%= translate(req,__filename,'page-title','Reports') %></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><%= translate(req,__filename,'list-title','Reports List') %></h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                           placeholder="<%= translate(req, __filename, 'search', 'search') %>">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-center table-bordered">
                                <tr>
                                    <td><%= translate(req,__filename,'reporter','Reporter')%></td>
                                    <td><%= translate(req,__filename,'body','body')%></td>
                                    <td><%= translate(req,__filename,'reported-user','reported User')%></td>
                                    <td><%= translate(req,__filename,'setting','setting')%></td>
                                </tr>
                                <% reports.docs.forEach(report => { %>
                                    <tr>
                                        <td><a href=""><%= report.reporter.username %></a></td>
                                        <td><a href=""><%= report.reportBody %></a></td>
                                        <td><%= report.reportedUser.username %></td>
                                        <td>action</td>
                                    </tr>
                                <% }) %>
                            </table>
                        </div>
                        <!-- /.card-body -->

                        <%- include(viewPath('layouts/admin/pagination') ,{ pagination : reports}) %>

                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
