<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><%= translate(req, __filename, 'title', 'category') ;%></h1>
                </div>
                <div class="col-sm-6 <%= hasPermission(Option['permission'].add_categories) ;%>">
                    <div class="btn-group float-sm-right">
                        <a href="/categories/create"
                           class="btn btn-sm btn-primary"><%= translate(req, __filename, 'create', 'create new category') ;%></a>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><%= translate(req, __filename, 'list-title', 'category list') ;%></h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                           placeholder="search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-center table-bordered">
                                <tr>
                                    <td><%= translate(req, __filename, 'table-image', 'Image') ;%></td>
                                    <td><%= translate(req, __filename, 'table-name', 'Name') ;%></td>
                                    <td><%= translate(req, __filename, 'table-parent', 'Parent') ;%></td>
                                    <td><%= translate(req, __filename, 'table-description', 'Description') ;%></td>
                                    <td><%= translate(req, __filename, 'table-language', 'Language') ;%></td>
                                    <td><%= translate(req, __filename, 'table-setting', 'Setting') ;%></td>
                                </tr>
                                <% categories.forEach(category => { %>
                                <tr>
                                    <td><img src="<%= category.image.url ;%>" width="200px" height="100px"></td>
                                    <td><%= category.name ;%></td>
                                    <td><%= category.parent ? category.parent.name : 'Main Category' ;%></td>
                                    <td><%= category.description ;%></td>
                                    <td><%= category.lang ;%></td>
                                    <td>
                                        <form action="/categories/<%= category.id ;%>?_csrf=<%= req.csrfToken() ;%>&_method=DELETE"
                                              method="post">
                                            <a href="/categories/<%= category.id ;%>/edit"
                                               class="btn btn-warning <%= hasPermission(Option['permission'].edit_categories) ;%>"><%= translate(req, __filename, 'table-edit', 'Edit') ;%></a>
                                            <button type="submit"
                                                    class="btn btn-danger <%= hasPermission(Option['permission'].delete_categories) ;%>">
                                                <%= translate(req, __filename, 'table-delete', 'Delete') ;%>
                                            </button>
                                        </form>
                                    </td>
                                    <% }); %>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<%- include(viewPath('layouts/sweet-alert'), {model:'delete',route:"/categories/"}) %>
