<div class="content-wrapper">
    <div class="container-fluid">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><%= __("admin.permissions.create.page-title") %></h3>
            </div>
            <form class="form-horizontal" action="/admin/users/permissions/create" method="post">
                <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>">

                <%- include(viewPath('layouts/error-messages')) -%>

                <div class="form-group row">
                    <div class="col">
                        <label for="name" class="control-label font-weight-bold">عنوان اجازه</label>
                        <input type="text" class="form-control <%= isValid('name') %>" name="name" id="name"
                               placeholder="عنوان را وارد کنید" value="<%= getInputValue('name') %>">
                        <div class="invalid-feedback">
                            <%= showError('name') %>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="label" class="control-label font-weight-bold">توضیح</label>
                        <input type="text" class="form-control <%= isValid('label') %>" name="label" id="label"
                               placeholder="توضیح را وارد کنید" value="<%= getInputValue('label') %>">
                        <div class="invalid-feedback">
                            <%= showError('label') %>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.container-fluid -->
</div>